{{ $videos := .VideoRecords }}

// Before uploading: Replace the escaped less than symbol with a less than symbol
// FIXME: This sucks ^^
var Template = function() { return `<?xml version="1.0" encoding="UTF-8" ?>
  <document>

    <!-- CSS like styling of elements. see https://developer.apple.com/library/prerelease/tvos/documentation/LanguagesUtilities/Conceptual/ATV_Template_Guide/ITMLStyles.html -->
  <head>
    <style>
      .descriptionText {
        margin: 20;
        color: #444440;
        font-size: 36;
        max-height: 500;
        tv-text-max-lines: 12;
      }
    </style>
  </head>

    <catalogTemplate>
      <banner>
        <title>Philly CocoaHeads</title>
      </banner>
      <list>
        <section>
	  <listItemLockup>
	    <title>Recent Videos</title>
	    <decorationLabel>{{.CountOfVideoRecords}}</decorationLabel>
	    <relatedContent>
	      <grid>
	        <section>
            {{range $video := $videos}}
            <lockup videoURL="{{$video.HDFile.Link}}">
              <img src="{{$video.Pictures.ThumbnailSize.Link}}" width="500" height="282" />
            </lockup>
            {{end}}
		      </section>
	      </grid>
	    </relatedContent>
	  </listItemLockup>
	  <listItemLockup>
	    <title>About</title>
	    <relatedContent>
   			<header>
   <title>About Philly CocooaHeads</title>
   <description class="descriptionText">Philly CocoaHeads is Philadelphia's premier Apple-related programming group, a chapter of the worldwide CocoaHeads. All skill levels are welcome. The only requirement is an interest in Apple-related technologies and a moderate tolerance for geeking out. Please visit our website for more information on events and other community activities.

http://phillycocoa.org </description>
</header>
	    </relatedContent>
	  </listItemLockup>
        </section>
      </list>
    </catalogTemplate>
  </document>`
}
